* {
    font-family: 'Arial', Times, serif;
}
h1 {
    text-align: center;
}
body { 
    background-color: azure;
}

img { 
    width: 500px;
    height: auto;
}

main {
    align-content: center;
    text-align: center;
    margin: auto;
}
main li,h2,p{
    text-align: left;
    margin-left: 50px;
}
